html, body, h2 {
    padding: 0;
    margin: 0;
}
h2{
    height: 100%;
    text-align: center;
    
}
html, body{
    width: 100%;
    height: 120%;
}
#container{
    /*width: 55%;
    height: 90.36%;
    margin: 8.3333%;
    margin-left: auto;
    margin-right: auto;
    */
    width: 1000px;
    height: 800px;
    margin: 100px;
    margin-left: auto;
    margin-right: auto;
}

#text{
    width: 100%;
    height: 18.75%;
    background-color: aqua;
}
#image_up{
    width: 100%;
    height: 15.625%;
    background-color: red;
    margin-bottom: 0%;
}
img{
    width: 100%;
    height: 100%;
}

#image_down{
    width: 75%;
    height: 65.625%;
    background-color: gold;
    float: left;
}
#text_down{
    width: 25%;
    height: 65.625%;
    background-color: teal;
    float: left;
}